USE [master]
GO
/****** Object:  Database [dbGesaUlt]    Script Date: 15/10/2019 10:43:06 a. m. ******/
CREATE DATABASE [dbGesaUlt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbGesaUlt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\dbGesaUlt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbGesaUlt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\dbGesaUlt_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbGesaUlt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbGesaUlt]
GO
/****** Object:  Table [dbo].[tblCategoria]    Script Date: 15/10/2019 10:43:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategoria](
	[IDCategoria] [tinyint] NOT NULL,
	[catNombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCliente]    Script Date: 15/10/2019 10:43:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCliente](
	[DNI] [varchar](8) NOT NULL,
	[cliApellidoPaterno] [varchar](35) NOT NULL,
	[cliApellidoMaterno] [varchar](35) NOT NULL,
	[cliNombres] [varchar](50) NOT NULL,
	[cliSexo] [varchar](9) NOT NULL,
	[cliFechaNacimiento] [date] NOT NULL,
	[cliDireccion] [varchar](150) NOT NULL,
	[cliDistrito] [varchar](30) NOT NULL,
	[cliTelefono] [varchar](9) NOT NULL,
	[cliEmail] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDetalleVenta]    Script Date: 15/10/2019 10:43:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDetalleVenta](
	[IDVenta] [varchar](9) NOT NULL,
	[IDProducto] [tinyint] NOT NULL,
	[dvenCantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC,
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmpleado]    Script Date: 15/10/2019 10:43:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmpleado](
	[IDEmpleado] [tinyint] NOT NULL,
	[empNumSegSocial] [varchar](10) NOT NULL,
	[empApellidoPaterno] [varchar](35) NOT NULL,
	[empApellidoMaterno] [varchar](35) NOT NULL,
	[empNombres] [varchar](50) NOT NULL,
	[empSueldo] [decimal](7, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducto]    Script Date: 15/10/2019 10:43:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducto](
	[IDProducto] [tinyint] NOT NULL,
	[proNombre] [varchar](100) NOT NULL,
	[proPrecioPropuesto] [decimal](7, 2) NOT NULL,
	[proStock] [int] NOT NULL,
	[IDproveedor] [tinyint] NOT NULL,
	[IDCategoria] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProveedor]    Script Date: 15/10/2019 10:43:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProveedor](
	[IDProveedor] [tinyint] NOT NULL,
	[provNombre] [varchar](100) NOT NULL,
	[provDireccion] [varchar](150) NOT NULL,
	[provTelefono] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVenta]    Script Date: 15/10/2019 10:43:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVenta](
	[IDVenta] [varchar](9) NOT NULL,
	[venFecha] [date] NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[IDEmpleado] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblCategoria] ([IDCategoria], [catNombre]) VALUES (1, N'Bebidas')
INSERT [dbo].[tblCategoria] ([IDCategoria], [catNombre]) VALUES (2, N'Condimentos')
INSERT [dbo].[tblCategoria] ([IDCategoria], [catNombre]) VALUES (3, N'Repostería')
INSERT [dbo].[tblCliente] ([DNI], [cliApellidoPaterno], [cliApellidoMaterno], [cliNombres], [cliSexo], [cliFechaNacimiento], [cliDireccion], [cliDistrito], [cliTelefono], [cliEmail]) VALUES (N'07144412', N'Cano', N'Torres', N'Astrid Eva', N'Femenino', CAST(N'1987-07-19' AS Date), N'Jr. Ciro Alegria Nro. 331', N'Huancayo', N'954411420', N'jhuan6@hotmail.com')
INSERT [dbo].[tblCliente] ([DNI], [cliApellidoPaterno], [cliApellidoMaterno], [cliNombres], [cliSexo], [cliFechaNacimiento], [cliDireccion], [cliDistrito], [cliTelefono], [cliEmail]) VALUES (N'07239393', N'Ibañez', N'Mallqui', N'Ronal Iben', N'Masculino', CAST(N'1983-08-13' AS Date), N'Prol. Cajatambo N° 314', N'Huancayo', N'971435276', N'rosse5583@hotmail.com')
INSERT [dbo].[tblCliente] ([DNI], [cliApellidoPaterno], [cliApellidoMaterno], [cliNombres], [cliSexo], [cliFechaNacimiento], [cliDireccion], [cliDistrito], [cliTelefono], [cliEmail]) VALUES (N'07457486', N'Castro', N'Manrique', N'María Antonia', N'Femenino', CAST(N'1982-02-01' AS Date), N'Av. San Martin S/N', N'Concepción', N'964931186', N'')
GO
INSERT [dbo].[tblEmpleado] ([IDEmpleado], [empNumSegSocial], [empApellidoPaterno], [empApellidoMaterno], [empNombres], [empSueldo]) VALUES (1, N'2545781852', N'Davolio', N'Huaman', N'Nancy', CAST(1800.00 AS Decimal(7, 2)))
INSERT [dbo].[tblEmpleado] ([IDEmpleado], [empNumSegSocial], [empApellidoPaterno], [empApellidoMaterno], [empNombres], [empSueldo]) VALUES (2, N'2457763288', N'Fuller', N'Bottoni', N'Andrew', CAST(1500.00 AS Decimal(7, 2)))
INSERT [dbo].[tblEmpleado] ([IDEmpleado], [empNumSegSocial], [empApellidoPaterno], [empApellidoMaterno], [empNombres], [empSueldo]) VALUES (3, N'3625841778', N'Leverling', N'Rodriguez', N'Janet', CAST(1800.00 AS Decimal(7, 2)))
INSERT [dbo].[tblProducto] ([IDProducto], [proNombre], [proPrecioPropuesto], [proStock], [IDproveedor], [IDCategoria]) VALUES (1, N'Té Dharamsala', CAST(75.00 AS Decimal(7, 2)), 39, 1, 1)
INSERT [dbo].[tblProducto] ([IDProducto], [proNombre], [proPrecioPropuesto], [proStock], [IDproveedor], [IDCategoria]) VALUES (2, N'Cerveza tibetana Barley', CAST(19.00 AS Decimal(7, 2)), 17, 2, 1)
INSERT [dbo].[tblProducto] ([IDProducto], [proNombre], [proPrecioPropuesto], [proStock], [IDproveedor], [IDCategoria]) VALUES (3, N'Sirope de regaliz', CAST(10.00 AS Decimal(7, 2)), 13, 3, 2)
INSERT [dbo].[tblProveedor] ([IDProveedor], [provNombre], [provDireccion], [provTelefono]) VALUES (1, N'Corporación Relacc', N'Calle San José Nº 622', N'244325')
INSERT [dbo].[tblProveedor] ([IDProveedor], [provNombre], [provDireccion], [provTelefono]) VALUES (2, N'Alicorp S.A', N'Psje. Heroés Civiles Nº 236', N'801064')
INSERT [dbo].[tblProveedor] ([IDProveedor], [provNombre], [provDireccion], [provTelefono]) VALUES (3, N'Ameral', N'Jr. Ancash N° 345', N'201778')
INSERT [dbo].[tblVenta] ([IDVenta], [venFecha], [DNI], [IDEmpleado]) VALUES (N'001-00001', CAST(N'2013-11-05' AS Date), N'41836043', 5)
INSERT [dbo].[tblVenta] ([IDVenta], [venFecha], [DNI], [IDEmpleado]) VALUES (N'001-00002', CAST(N'2013-11-05' AS Date), N'41099022', 5)
INSERT [dbo].[tblVenta] ([IDVenta], [venFecha], [DNI], [IDEmpleado]) VALUES (N'001-00003', CAST(N'2013-11-05' AS Date), N'40637054', 1)
GO
ALTER TABLE [dbo].[tblDetalleVenta]  WITH CHECK ADD FOREIGN KEY([IDProducto])
REFERENCES [dbo].[tblProducto] ([IDProducto])
GO
ALTER TABLE [dbo].[tblDetalleVenta]  WITH CHECK ADD FOREIGN KEY([IDVenta])
REFERENCES [dbo].[tblVenta] ([IDVenta])
GO
ALTER TABLE [dbo].[tblProducto]  WITH CHECK ADD FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[tblCategoria] ([IDCategoria])
GO
ALTER TABLE [dbo].[tblProducto]  WITH CHECK ADD FOREIGN KEY([IDproveedor])
REFERENCES [dbo].[tblProveedor] ([IDProveedor])
GO
ALTER TABLE [dbo].[tblVenta]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[tblCliente] ([DNI])
GO
ALTER TABLE [dbo].[tblVenta]  WITH CHECK ADD FOREIGN KEY([IDEmpleado])
REFERENCES [dbo].[tblEmpleado] ([IDEmpleado])
GO
USE [master]
GO
